// [[file:README.org::*Main Style File][Main Style File:1]]
@import "syntax/syntax-highlighting";
// Main Style File:1 ends here

// [[file:README.org::*Main Style File][Main Style File:2]]
pre {
    padding: 5px;
}

details {
    margin: 5px 0px 25px 0px;
}

pre.sourceCode {
    padding: 10px;
}

.div #outline-2 {
    margin-bottom: 30px;
}
// Main Style File:2 ends here

// [[file:README.org::*Main Style File][Main Style File:3]]
img.header-image {
    object-fit: cover;
    width: 100%;
}
// Main Style File:3 ends here

// [[file:README.org::*Bottom navigation bar][Bottom navigation bar:1]]
footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
// Bottom navigation bar:1 ends here

// [[file:README.org::*Bottom navigation bar][Bottom navigation bar:2]]
.footer-panel {
    color: $nav_color;
    background-color: $nav_background;
    
    display: grid;
    grid-template-columns: auto auto;

    justify-content: space-between;

    padding: 10px;

    div {
        padding: 5px 20px 5px 20px;
    }

    .navbar {
        grid-row: 1;
        grid-column: 1;
    }

    .hakyll {
        grid-row: 1;
        grid-column: 2;
    }

    .generated {
        grid-row: 2;
        grid-column: 1 / 2;
    }

    span {
        color: $nav_text;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }
}
// Bottom navigation bar:2 ends here

// [[file:README.org::*Bottom navigation bar][Bottom navigation bar:3]]
/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04aa6d;
    color: white;
}
// Bottom navigation bar:3 ends here
