// [[file:../README.org::*Color Theme][Color Theme:1]]
// Solarized Light color palette.
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
// Color Theme:1 ends here

// [[file:../README.org::*Color Theme][Color Theme:2]]
$code_color: #fcfcfa;
$code_background: #2d2a2e;
// Color Theme:2 ends here

// [[file:../README.org::*Color Theme][Color Theme:3]]
$nav_color: $base3;
$nav_text: $base03;
$nav_background: $base1;
// Color Theme:3 ends here

// [[file:../README.org::*Color Theme][Color Theme:4]]
pre,
code {
    color: $code_color;
    background-color: $code_background;
}
// Color Theme:4 ends here
