// [[file:../README.org::*Color Theme][Color Theme:5]]
@import "syntax-highlighting-base";
@import "solarized-light";
// Color Theme:5 ends here

// [[file:../README.org::*Color Theme][Color Theme:6]]
.sourceCode {
    // KeyWordTok
    .kw {
        color: $blue;
    }
    // DataTypeTok
    .dt {
        color: $blue;
    }
    // DecValTok (decimal value), BaseNTok, FloatTok
    .dv,
    .bn,
    .fl {
        color: $magenta;
    }
    // CharTok
    .ch {
        color: $red;
    }
    // StringTok
    .st {
        color: $cyan;
    }
    // CommentTok
    .co {
        color: $base1;
    }
    // OtherTok
    .ot {
        color: $yellow;
    }
    // AlertTok
    .al {
        color: $orange;
        font-weight: bold;
    }
    // FunctionTok
    .fu {
        color: $blue;
    }
    // RegionMarkerTok
    .re {
    }
    // ErrorTok
    .er {
        color: $red;
        font-weight: bold;
    }
}
// Color Theme:6 ends here
