// [[file:../README.org::*Base style][Base style:1]]
code {
    border: none;
}

pre {
    code {
        background-color: inherit;
        border: inherit;
    }
}

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}

td.lineNumbers {
    border-right: 1px solid #aaaaaa;
    text-align: right;
    color: #aaaaaa;
    padding-right: 5px;
    padding-left: 5px;
}

td.sourceCode {
    padding-left: 5px;
}
// Base style:1 ends here
